.profile__user-about {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media all and (max-width: 767px) {
  .profile__user-about {
    font-size: 14px;
    justify-self: center;
    text-align: center;
  }
}
