.profile__user-name {
  margin: 0;
  padding: 0;
  max-width: calc(100% - 42px);
  font-weight: 500;
  font-size: 42px;
  line-height: 1.1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

@media all and (max-width: 767px) {
  .profile__user-name {
    font-size: 27px;
    padding-left: 28px;
    max-width: calc(100% - 2*28px);
  }
}
