@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');

@import url('./blocks/page/page.css');
@import url('./blocks/page/__content/page__content.css');
@import url('./blocks/page/__text/page__text.css');
@import url('./blocks/page/__link/page__link.css');

@import url('./blocks/header/header.css');
@import url('./blocks/header/__logo/header__logo.css');
@import url('./blocks/header/__user/header__user.css');
@import url('./blocks/header/__button/header__button.css');

@import url('./blocks/profile/profile.css');
@import url('./blocks/profile/__add-button/profile__add-button.css');
@import url('./blocks/profile/__avatar-container/profile__avatar-container.css');
@import url('./blocks/profile/__avatar/profile__avatar.css');
@import url('./blocks/profile/__avatar-edit/profile__avatar-edit.css');
@import url('./blocks/profile/__edit-button/profile__edit-button.css');
@import url('./blocks/profile/__info/profile__info.css');
@import url('./blocks/profile/__user-name/profile__user-name.css');
@import url('./blocks/profile/__user-about/profile__user-about.css');
@import url('./blocks/profile/__wrapper/profile__wrapper.css');

@import url('./blocks/elements/elements.css');

@import url('./blocks/popup/popup.css');
@import url('./blocks/popup/_opened/popup_opened.css');
@import url('./blocks/popup/__title/popup__title.css');
@import url('./blocks/popup/__text/popup__text.css');
@import url('./blocks/popup/__pic/popup__pic.css');
@import url('./blocks/popup/__pic/_type/popup__pic_type_ok.css');
@import url('./blocks/popup/__pic/_type/popup__pic_type_cross.css');
@import url('./blocks/popup/__container/popup__container.css');
@import url('./blocks/popup/__image-container/popup__image-container.css');
@import url('./blocks/popup/_type/popup_type_image.css');
@import url('./blocks/popup/__close-button/popup__close-button.css');
@import url('./blocks/popup/__confirm-button/popup__confirm-button.css');
@import url('./blocks/popup/__image/popup__image.css');
@import url('./blocks/popup/__image-content/popup__image-content.css');
@import url('./blocks/popup/__image-caption/popup__image-caption.css');

@import url('./blocks/form/form.css');
@import url('./blocks/form/_type/_confirm/form_type_confirm.css');
@import url('./blocks/form/_type/_auth/form_type_auth.css');
@import url('./blocks/form/__field/form__field.css');
@import url('./blocks/form/__field/_type/form__field_type_dark.css');
@import url('./blocks/form/__field/_type/form__field_type_error.css');
@import url('./blocks/form/__field-error/form__field-error.css');
@import url('./blocks/form/__field-error/_active/form__field-error_active.css');
@import url('./blocks/form/__save-button/form__save-button.css');
@import url('./blocks/form/__save-button/_inactive/form__save-button_inactive.css');
@import url('./blocks/form/__save-button/_type/_dark/form__save-button_type_dark.css');
@import url('./blocks/form/__save-button/_type/_dark-inactive/form__save-button_type_dark-inactive.css');
@import url('./blocks/form/__button-spinner/form__button-spinner.css');

@import url('./blocks/form-container/form-container.css');
@import url('./blocks/form-container/__title/form-container__title.css');

@import url('./blocks/card/card.css');
@import url('./blocks/card/__title/card__title.css');
@import url('./blocks/card/__text/card__text.css');
@import url('./blocks/card/__image/card__image.css');
@import url('./blocks/card/__trash-button/card__trash-button.css');
@import url('./blocks/card/__like-button/card__like-button.css');
@import url('./blocks/card/__like-button/_active/card__like-button_active.css');
@import url('./blocks/card/__like-container/card__like-container.css');
@import url('./blocks/card/__like-number/card__like-number.css');

@import url('./blocks/footer/footer.css');
@import url('./blocks/footer/__copyright/footer__copyright.css');
